<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Macro's</title>
	{% import "bootstrap/wtf.html" as wtf %}
</head>
<body>
	<form method= "post" action={{url_for('macros')}} >
	<table>
		<tr>
			<th>Food item</th>
			<th>Quantity (gr)</th>
			<th>Proteins</th>
			<th>Carbs</th>
			<th>Fats</th>
			<th>Calories</th>
		</tr>
		{% for record in macros_records %}
		<tr>
			<td>{{ macros_table.macro_rows.entries[record.id - 1].form.food_name }}</td>
			<td>{{ macros_table.macro_rows.entries[record.id - 1].form.food_quantity }}</td>
			<td>{{ record.proteins }}</td>
			<td>{{ record.carbs }}</td>
			<td>{{ record.fats }}</td>
			<td>{{ record.calories }}</td>
			</tr>
		{% endfor %}


	</table>
		{{ macros_table.btn_remove_last_row }}
		{{ macros_table.btn_add_row }}
		{{ macros_table.btn_update }}

	</form>
</body>
</html>