<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Macro's</title>
	{% import "bootstrap/wtf.html" as wtf %}
</head>
<body>
	<form method= "post" action={{url_for('macros')}} >
	<table>
		<tr>
			<th>Quantity</th>
			<th>Food item</th>
			<th>Protein</th>
			<th>Carbs</th>
			<th>Fat</th>
			<th>Calories</th>
		</tr>
		{% for food in macros_table.macro_rows %}
		<tr>
			<td>{{ food.food_quantity }}</td>
			<td>{{ food.food_name }}</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
		</tr>
		{% endfor %}
	</table>
		{{ macros_table.btn_remove_last_row }}
		{{ macros_table.btn_add_row }}
		{{ macros_table.btn_update }}

	</form>
</body>
</html>